<div class="row">
  <div class="col-md-5 col-md-offset-2">
  </div>
  <div class="col-md-4 logo github">
    <h1>Keep In Touch</h1><br>

    <form action="/users/sign_in" method="post">
      <input type="hidden" name="authenticity_token" value="<%=auth_token%>">
      <input type="hidden" name="user[email]" value="demo_user@gmail.com">
      <input type="hidden" name="user[password]" value="password">
      <input class="btn btn-lg btn-primary" type="submit" value="Launch Demo">
    </form>

  </div>
</div>